* {
   width: 1366px;
}
* img{
  width: 250px;
    display: flex;
    justify-content: center;
}
.simps h2{
    display: flex;
    justify-content: center;
    background: rosybrown;
}
.simps p{
    background: powderblue;
}
.simps img{
    margin-left: 580px;
}
.product_card h3{
    display: flex;
    justify-content: center;
    background: cornflowerblue;
    color: greenyellow;

}
.image{
    background: green;
}
.image img{
    margin-left: 580px;
    display: block;

}
